
$puzzle-size: 400px;
$puzzle-division: 3;
$puzzle-cell-size: $puzzle-size/$puzzle-division;

$theme-blue: #477697;
$theme-text: #414141;


.page-head {
	height: 0px;
	transition: height 2s;
	overflow: hidden;
	p {
		color: #fff;
		font-weight: 700;
		font-size: 25px;
		padding-top: 40px;
	}
	&.active {
		height:125px;
		background: $theme-blue;
	}
}


.pnl-intro {
	p {
		color: $theme-text;
		font-size: 25px;
		padding-top: 90px;
	}
}

.pnl-game-nav {
	.hero {
		max-width: 200px;
		padding-top: 150px;
		img {
			width:100%;
		}
	}
	button {
		border: solid 1px #646e8c;
		font-size: 20px;
		margin-top: 30px;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		max-width: 200px;
		background: linear-gradient(to bottom,  #8dbd46 0%,#3a8c16 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
}

.pnl-puzzle-grid {
	width: $puzzle-size;
	height: $puzzle-size;
	margin-top: 50px;
	.cell {
		float: left;
		height: $puzzle-cell-size;
		width: $puzzle-cell-size;
		.fx-drag {
			background: url("../img/isentia.jpg");
			background-size:$puzzle-size;
			height: $puzzle-cell-size;
			width: $puzzle-cell-size;
			// can generate rnd class names for better security
			@for $r from 1 through $puzzle-division {
				@for $c from 1 through $puzzle-division {
					&.r#{$r}-c#{$c} {
						background-position:#{(($c)-1)*-$puzzle-cell-size} #{(($r)-1)*-$puzzle-cell-size}
					}
				}
			}
		}
	}
}

.pnl-total {
	color: $theme-text;
	font-size: 25px;
	font-weight: 700;
	padding-top: 20px;
	text-transform: uppercase;

}

